.page__content {
  max-width: 882px;
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
  margin: 0px auto;
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .page__content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .page__content {
    padding-left: 19px;
    padding-right: 19px;
  }
}